<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slam Stats</title>
    <style>
      /* Add your CSS styling here */
      /* For example: */
      text {
        font-family: Arial, sans-serif;
        font-size: 12px;
        fill: #333;
      }

      .setlected {
        fill: "blue";
      }
    </style>
  </head>
  <body>
    <div id="csvData"></div>

    <script>
      const final = "0100000010000000000001111010000010000101001100001111111000010110110";
      // Fetch the CSV file using JavaScript
      fetch("/static/2010-2011.csv")
        .then((response) => response.text())
        .then((csv) => {
          console.log(final);
        });
      // Process the CSV data
    </script>

    <div>
      <p>0100000010000000000001111010000010000101001100001111111000010110110</p>
      {% if result %}
      <p>{{ result }}</p>
      {% endif %}
    </div>
    <form action="/predict" method="post">
      <button type="submit">Predict</button>
    </form>
  </body>
</html>
